.default-table  tr  th {
    background-color: #696969;
    color: white;   
}

.default-table tbody tr {   
    border-bottom: 1px solid #696969;
}
.default-table tr  td {
    background-color: white;
}

.select2-selection {
    height: 33px !important; 
  }
  